# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS / Windows cruft
.DS_Store
Thumbs.db
desktop.ini

# Local scratch
*.log
